<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.vkr/menu.application.title" opened="true">
        <item view="User.list" title="msg://com.company.vkr.view.user/UserListView.title"/>
        <item view="Topic.list" title="msg://com.company.vkr.view.topic/topicListView.title"/>
        <item view="Student.list" title="msg://com.company.vkr.view.student/studentListView.title"/>
        <item view="Teacher.list" title="msg://com.company.vkr.view.teacher/teacherListView.title"/>
        <item view="GroupVKR.list" title="msg://com.company.vkr.view.groupvkr/groupVKRListView.title"/>
        <item view="TopicStudent.list" title="msg://com.company.vkr.view.topic/topicListViewStudent.title"/>
    </menu>

</menu-config>